
body{
    text-align: center;
    background:linear-gradient(rgb(204, 236, 247) 0%, rgb(18, 183, 248) 100%);
}

#output
{
background:greenyellow;
border-radius: 10px;
border-top: 10px solid yellow;
padding: 10px;
float: none;
text-align: left;
}